#headerVideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#fold{
    margin-top: 5%;
}
.aboveFold{
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#aboutMe{
    margin-top: 5%;
}
#projects{
    margin-top: 5%;
}
#footer{
    margin-top: 5%;
    
}
.footer-text{
    
}
.socialIcons{
    text-align: center;
    width: 5%;
}