#fold{
    margin-top: 5%;
}
#aboutMe{
    margin-top: 5%;
}
#projects{
    margin-top: 5%;
}
#footer{
    margin-top: 5%;
    
}
.footer-text{
    
}
.socialIcons{
    text-align: center;
    width: 5%;
}